Repository music-assistant/deezer-python-gql: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, check-ast, check-json, check-toml, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [python]
        exclude: "^deezer_python_gql/generated/"
      - id: ruff-check
        name: ruff-check
        entry: uv run ruff check --fix
        language: system
        types: [python]
        exclude: "^deezer_python_gql/generated/"
      - id: codespell
        name: codespell
        entry: uv run codespell
        language: system
        types: [text]
      - id: check-ast
        name: check-ast
        entry: uv run check-ast
        language: system
        types: [python]
      - id: check-json
        name: check-json
        entry: uv run check-json
        language: system
        types: [json]
        exclude: "^schema\\.json$"
      - id: check-toml
        name: check-toml
        entry: uv run check-toml
        language: system
        types: [toml]
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        exclude: "^deezer_python_gql/generated/"

fix: regenerate client to sync generated base_client with enriched logging
  deezer_python_gql/generated/base_client.py
Due: check-ast

fix: handle all-errors response in check_audiobook_ids gracefully
  deezer_python_gql/base_client.py
  deezer_python_gql/generated/base_client.py
Due: ruff-format, ruff-check, check-ast, mypy

fix: regenerate client and improve check_audiobook_ids debug logging
  deezer_python_gql/base_client.py
  deezer_python_gql/generated/base_client.py
Due: ruff-format, ruff-check, check-ast, mypy

ci: add pre-commit hook to detect generated base_client drift
  .pre-commit-config.yaml
  scripts/check_codegen_sync.sh
Due: none

fix: use named query in check_audiobook_ids
  deezer_python_gql/base_client.py
  deezer_python_gql/generated/base_client.py
Due: ruff-format, ruff-check, check-ast, mypy

feat: add get_similar_artists query and remove deprecated bio.summary
  deezer_python_gql/generated/__init__.py
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/fragments.py
  deezer_python_gql/generated/get_similar_artists.py
  queries/fragments.graphql
  queries/get_similar_artists.graphql
  tests/fixtures/get_artist.json
  tests/fixtures/get_music_together_affinity.json
  tests/fixtures/get_similar_artists.json
  tests/test_client.py
Due: ruff-format, ruff-check, check-ast, check-json, mypy

fix: re-export exception classes from generated module
  deezer_python_gql/__init__.py
Due: ruff-format, ruff-check, check-ast, mypy

feat: migrate HTTP backend from httpx to aiohttp
  deezer_python_gql/__init__.py
  deezer_python_gql/base_client.py
  deezer_python_gql/generated/base_client.py
  pyproject.toml
  scripts/convert_schema.py
  scripts/explore.py
  tests/test_client.py
  uv.lock
Due: ruff-format, ruff-check, check-ast, check-toml, mypy

chore: update schema from live API
  schema.graphql
  schema.json
Due: none

feat: add track availability to TrackFields fragment
  deezer_python_gql/generated/__init__.py
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/fragments.py
  deezer_python_gql/generated/get_track.py
  queries/fragments.graphql
  queries/get_track.graphql
  tests/fixtures/get_album.json
  tests/fixtures/get_artist.json
  tests/fixtures/get_artist_mix.json
  tests/fixtures/get_charts.json
  tests/fixtures/get_favorite_tracks.json
  tests/fixtures/get_flow.json
  tests/fixtures/get_flow_batch.json
  tests/fixtures/get_flow_config_tracks.json
  tests/fixtures/get_music_together_affinity.json
  tests/fixtures/get_music_together_group.json
  tests/fixtures/get_personal_tracks.json
  tests/fixtures/get_playlist.json
  tests/fixtures/get_recommendations.json
  tests/fixtures/get_similar_tracks.json
  tests/fixtures/get_smart_tracklist.json
  tests/fixtures/get_track_mix.json
  tests/fixtures/get_user_charts.json
  tests/fixtures/search.json
  uv.lock
Due: check-ast, check-json

feat: add track availability to search results
  deezer_python_gql/generated/__init__.py
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/search.py
  queries/search.graphql
Due: check-ast

chore: sync schema from live Deezer API
  schema.graphql
  schema.json
  uv.lock
Due: none

chore: upgrade all dependencies to latest
  pyproject.toml
  uv.lock
Due: check-toml

chore: sync schema from live Deezer API
  schema.graphql
  schema.json
Due: none

fix: harden auth, timeouts and audiobook ID checking in the base client
  CLAUDE.md
  deezer_python_gql/__init__.py
  deezer_python_gql/base_client.py
  deezer_python_gql/generated/base_client.py
  tests/test_client.py
Due: ruff-format, ruff-check, check-ast, mypy

chore: sync uv.lock with dependabot version bumps
  uv.lock
Due: none

docs: update README for chunked audiobook check and auth error handling
  README.md
Due: none

fix: isolate account cookies on shared sessions
  README.md
  deezer_python_gql/base_client.py
  deezer_python_gql/generated/base_client.py
  pyproject.toml
  tests/test_client.py
  uv.lock
Due: ruff-format, ruff-check, check-ast, check-toml, mypy

fix: Isolate account cookies on shared sessions
  README.md
  deezer_python_gql/base_client.py
  deezer_python_gql/generated/base_client.py
  pyproject.toml
  tests/test_client.py
  uv.lock
Due: ruff-format, ruff-check, check-ast, check-toml, mypy

chore: adapt lint config to Ruff 0.16
  README.md
  pyproject.toml
  scripts/convert_schema.py
Due: ruff-format, ruff-check, check-ast, check-toml, mypy

feat: map the Date scalar to str
  CLAUDE.md
  deezer_python_gql/generated/add_audiobook_to_favorite.py
  deezer_python_gql/generated/add_podcast_to_favorite.py
  deezer_python_gql/generated/bookmark_podcast_episode.py
  deezer_python_gql/generated/fragments.py
  deezer_python_gql/generated/get_audiobook_chapter.py
  deezer_python_gql/generated/get_favorite_albums.py
  deezer_python_gql/generated/get_favorite_artists.py
  deezer_python_gql/generated/get_favorite_audiobooks.py
  deezer_python_gql/generated/get_favorite_playlists.py
  deezer_python_gql/generated/get_favorite_podcasts.py
  deezer_python_gql/generated/get_favorite_tracks.py
  deezer_python_gql/generated/get_music_together_group.py
  deezer_python_gql/generated/get_music_together_groups.py
  deezer_python_gql/generated/get_podcast_episode_bookmarks.py
  deezer_python_gql/generated/get_track.py
  deezer_python_gql/generated/mark_as_played_podcast_episode.py
  deezer_python_gql/generated/music_together_create_group.py
  deezer_python_gql/generated/search.py
  pyproject.toml
  tests/test_client.py
Due: ruff-format, ruff-check, check-ast, check-toml, mypy

feat: add addedAt to GetPlaylist track edges
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/get_playlist.py
  queries/get_playlist.graphql
  tests/fixtures/get_playlist.json
  tests/test_client.py
Due: ruff-format, ruff-check, check-ast, check-json, mypy

feat: add addedAt to GetPlaylist track edges (#59)
  CLAUDE.md
  deezer_python_gql/generated/add_audiobook_to_favorite.py
  deezer_python_gql/generated/add_podcast_to_favorite.py
  deezer_python_gql/generated/bookmark_podcast_episode.py
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/fragments.py
  deezer_python_gql/generated/get_audiobook_chapter.py
  deezer_python_gql/generated/get_favorite_albums.py
  deezer_python_gql/generated/get_favorite_artists.py
  deezer_python_gql/generated/get_favorite_audiobooks.py
  deezer_python_gql/generated/get_favorite_playlists.py
  deezer_python_gql/generated/get_favorite_podcasts.py
  deezer_python_gql/generated/get_favorite_tracks.py
  deezer_python_gql/generated/get_music_together_group.py
  deezer_python_gql/generated/get_music_together_groups.py
  deezer_python_gql/generated/get_playlist.py
  deezer_python_gql/generated/get_podcast_episode_bookmarks.py
  deezer_python_gql/generated/get_track.py
  deezer_python_gql/generated/mark_as_played_podcast_episode.py
  deezer_python_gql/generated/music_together_create_group.py
  deezer_python_gql/generated/search.py
  pyproject.toml
  queries/get_playlist.graphql
  tests/fixtures/get_playlist.json
  tests/test_client.py
Due: ruff-format, ruff-check, check-ast, check-json, check-toml, mypy

feat: add ban/unban from recommendation mutations
  CLAUDE.md
  README.md
  deezer_python_gql/generated/__init__.py
  deezer_python_gql/generated/ban_artist_from_recommendation.py
  deezer_python_gql/generated/ban_track_from_recommendation.py
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/unban_artist_from_recommendation.py
  deezer_python_gql/generated/unban_track_from_recommendation.py
  queries/recommendation_bans.graphql
  tests/fixtures/ban_artist_from_recommendation.json
  tests/fixtures/ban_track_from_recommendation.json
  tests/fixtures/unban_artist_from_recommendation.json
  tests/fixtures/unban_track_from_recommendation.json
  tests/test_client.py
Due: ruff-format, ruff-check, check-ast, check-json, mypy

feat: add ban/unban from recommendation mutations (#60)
  CLAUDE.md
  README.md
  deezer_python_gql/generated/__init__.py
  deezer_python_gql/generated/ban_artist_from_recommendation.py
  deezer_python_gql/generated/ban_track_from_recommendation.py
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/unban_artist_from_recommendation.py
  deezer_python_gql/generated/unban_track_from_recommendation.py
  queries/recommendation_bans.graphql
  tests/fixtures/ban_artist_from_recommendation.json
  tests/fixtures/ban_track_from_recommendation.json
  tests/fixtures/unban_artist_from_recommendation.json
  tests/fixtures/unban_track_from_recommendation.json
  tests/test_client.py
Due: ruff-format, ruff-check, check-ast, check-json, mypy

feat: request artwork at 500px instead of 264px
  deezer_python_gql/generated/client.py
  queries/fragments.graphql
  queries/get_flow.graphql
  queries/get_flow_batch.graphql
  queries/get_flow_config_tracks.graphql
  queries/get_flow_configs.graphql
  queries/get_made_for_me.graphql
  queries/get_music_together_affinity.graphql
  queries/get_music_together_group.graphql
  queries/get_music_together_groups.graphql
  queries/get_recently_played.graphql
  queries/get_smart_tracklist.graphql
  queries/get_track.graphql
  queries/search.graphql
  queries/search_flows.graphql
Due: check-ast

feat: add queries for banned content, Flow tuner, batch lookups and new podcast episodes
  CLAUDE.md
  README.md
  deezer_python_gql/generated/__init__.py
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/enums.py
  deezer_python_gql/generated/get_banned_artists.py
  deezer_python_gql/generated/get_banned_tracks.py
  deezer_python_gql/generated/get_flow_tuner.py
  deezer_python_gql/generated/get_infinite_track_mix.py
  deezer_python_gql/generated/get_latest_podcast_episodes.py
  deezer_python_gql/generated/get_tracks_by_ids.py
  deezer_python_gql/generated/set_flow_discovery_tuner.py
  queries/flow_tuner.graphql
  queries/get_banned_artists.graphql
  queries/get_banned_tracks.graphql
  queries/get_flow_tuner.graphql
  queries/get_infinite_track_mix.graphql
  queries/get_latest_podcast_episodes.graphql
  queries/get_tracks_by_ids.graphql
  tests/fixtures/get_banned_artists.json
  tests/fixtures/get_banned_tracks.json
  tests/fixtures/get_flow_tuner.json
  tests/fixtures/get_infinite_track_mix.json
  tests/fixtures/get_latest_podcast_episodes.json
  tests/fixtures/get_tracks_by_ids.json
  tests/fixtures/set_flow_discovery_tuner.json
  tests/test_client.py
Due: ruff-format, ruff-check, check-ast, check-json, mypy

chore: refresh uv.lock
  pyproject.toml
  uv.lock
Due: check-toml

chore: refresh uv.lock (#62)
  pyproject.toml
  uv.lock
Due: check-toml

feat: sign in as a Deezer Family profile
  CLAUDE.md
  README.md
  deezer_python_gql/base_client.py
  deezer_python_gql/generated/__init__.py
  deezer_python_gql/generated/base_client.py
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/fragments.py
  deezer_python_gql/generated/get_family.py
  queries/fragments.graphql
  queries/get_family.graphql
  tests/fixtures/get_family.json
  tests/test_client.py
Due: ruff-format, ruff-check, check-ast, check-json, mypy

feat: sign in as a Deezer Family profile (#64)
  CLAUDE.md
  README.md
  deezer_python_gql/base_client.py
  deezer_python_gql/generated/__init__.py
  deezer_python_gql/generated/base_client.py
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/fragments.py
  deezer_python_gql/generated/get_family.py
  queries/fragments.graphql
  queries/get_family.graphql
  tests/fixtures/get_family.json
  tests/test_client.py
Due: ruff-format, ruff-check, check-ast, check-json, mypy
