Repository music-assistant/deezer-python-gql: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, check-ast, check-json, check-toml, mypy

ruff-format:
  name: ruff-format
  entry: uv run ruff format
  language: system

ruff-check:
  name: ruff-check
  entry: uv run ruff check --fix
  language: system

check-ast:
  name: check-ast
  entry: uv run check-ast
  language: system

check-json:
  name: check-json
  entry: uv run check-json
  language: system

check-toml:
  name: check-toml
  entry: uv run check-toml
  language: system

mypy:
  name: mypy
  entry: uv run mypy
  language: system

fix: resolve mypy no-any-return in convert_schema
  scripts/convert_schema.py
Due: ruff-format, ruff-check, check-ast, mypy

docs: add conventional commits section to CLAUDE.md
  CLAUDE.md
Due: none

ci: add dependabot for actions and pip dependencies
  .github/dependabot.yml
Due: none

chore: replace release-drafter with git-cliff release workflow
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  cliff.toml
Due: check-toml

docs: update CLAUDE.md and README for new queries and workflows
  CLAUDE.md
  README.md
Due: none

fix: use taiki-e/install-action for git-cliff version detection
  .github/workflows/release.yml
  uv.lock
Due: none

fix: use --unreleased instead of --latest for changelog generation
  .github/workflows/release.yml
Due: none

fix: trigger PyPI publish via workflow_run instead of release event
  .github/workflows/publish-to-pypi.yml
Due: none

chore: opt into Node.js 24 for softprops/action-gh-release
  .github/workflows/release.yml
Due: none

feat: add favorite mutations, playlist CRUD mutations, and user playlists query
  deezer_python_gql/generated/__init__.py
  deezer_python_gql/generated/add_album_to_favorite.py
  deezer_python_gql/generated/add_artist_to_favorite.py
  deezer_python_gql/generated/add_playlist_to_favorite.py
  deezer_python_gql/generated/add_track_to_favorite.py
  deezer_python_gql/generated/add_tracks_to_playlist.py
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/create_playlist.py
  deezer_python_gql/generated/delete_playlist.py
  deezer_python_gql/generated/get_user_playlists.py
  deezer_python_gql/generated/remove_album_from_favorite.py
  deezer_python_gql/generated/remove_artist_from_favorite.py
  deezer_python_gql/generated/remove_playlist_from_favorite.py
  deezer_python_gql/generated/remove_track_from_favorite.py
  deezer_python_gql/generated/remove_tracks_from_playlist.py
  deezer_python_gql/generated/update_playlist.py
  queries/favorites.graphql
  queries/get_user_playlists.graphql
  queries/playlists.graphql
  tests/fixtures/add_album_to_favorite.json
  tests/fixtures/add_artist_to_favorite.json
  tests/fixtures/add_playlist_to_favorite.json
  tests/fixtures/add_track_to_favorite.json
  tests/fixtures/add_tracks_to_playlist.json
  tests/fixtures/create_playlist.json
  tests/fixtures/delete_playlist.json
  tests/fixtures/get_user_playlists.json
  tests/fixtures/remove_album_from_favorite.json
  tests/fixtures/remove_artist_from_favorite.json
  tests/fixtures/remove_playlist_from_favorite.json
  tests/fixtures/remove_track_from_favorite.json
  tests/fixtures/remove_tracks_from_playlist.json
  tests/fixtures/update_playlist.json
  tests/test_client.py
Due: ruff-format, ruff-check, check-ast, check-json, mypy

chore: refresh schema from live Deezer Pipe API
  schema.graphql
  schema.json
Due: none

test: add fixtures for mutations and user playlists queries
  tests/fixtures/add_album_to_favorite.json
  tests/fixtures/add_artist_to_favorite.json
  tests/fixtures/add_playlist_to_favorite.json
  tests/fixtures/add_track_to_favorite.json
  tests/fixtures/add_tracks_to_playlist.json
  tests/fixtures/create_playlist.json
  tests/fixtures/delete_playlist.json
  tests/fixtures/get_user_playlists.json
  tests/fixtures/remove_album_from_favorite.json
  tests/fixtures/remove_artist_from_favorite.json
  tests/fixtures/remove_playlist_from_favorite.json
  tests/fixtures/remove_track_from_favorite.json
  tests/fixtures/remove_tracks_from_playlist.json
  tests/fixtures/update_playlist.json
Due: check-json

feat: add favoritedAt to favorite queries for date_added support
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/get_favorite_albums.py
  deezer_python_gql/generated/get_favorite_artists.py
  deezer_python_gql/generated/get_favorite_playlists.py
  deezer_python_gql/generated/get_favorite_tracks.py
  queries/get_favorite_albums.graphql
  queries/get_favorite_artists.graphql
  queries/get_favorite_playlists.graphql
  queries/get_favorite_tracks.graphql
  tests/fixtures/get_favorite_albums.json
  tests/fixtures/get_favorite_artists.json
  tests/fixtures/get_favorite_playlists.json
  tests/fixtures/get_favorite_tracks.json
  tests/test_client.py
Due: ruff-format, ruff-check, check-ast, check-json, mypy

feat: add fansCount to album and playlist queries
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/fragments.py
  deezer_python_gql/generated/get_album.py
  deezer_python_gql/generated/get_playlist.py
  deezer_python_gql/generated/search.py
  queries/fragments.graphql
  queries/get_album.graphql
  queries/get_playlist.graphql
  queries/search.graphql
  tests/fixtures/get_album.json
  tests/fixtures/get_artist.json
  tests/fixtures/get_charts.json
  tests/fixtures/get_favorite_albums.json
  tests/fixtures/get_favorite_playlists.json
  tests/fixtures/get_playlist.json
  tests/fixtures/get_recently_played.json
  tests/fixtures/get_recommendations.json
  tests/fixtures/get_user_charts.json
  tests/fixtures/get_user_playlists.json
  tests/fixtures/search.json
Due: check-ast, check-json

refactor: use shared fragments in all entity queries
  deezer_python_gql/generated/__init__.py
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/enums.py
  deezer_python_gql/generated/fragments.py
  deezer_python_gql/generated/get_album.py
  deezer_python_gql/generated/get_artist.py
  deezer_python_gql/generated/get_playlist.py
  deezer_python_gql/generated/get_track.py
  deezer_python_gql/generated/search.py
  queries/fragments.graphql
  queries/get_album.graphql
  queries/get_artist.graphql
  queries/get_playlist.graphql
  queries/get_track.graphql
  queries/search.graphql
  tests/fixtures/get_album.json
  tests/fixtures/get_artist.json
  tests/fixtures/get_charts.json
  tests/fixtures/get_favorite_tracks.json
  tests/fixtures/get_flow.json
  tests/fixtures/get_flow_config_tracks.json
  tests/fixtures/get_playlist.json
  tests/fixtures/get_recommendations.json
  tests/fixtures/get_smart_tracklist.json
  tests/fixtures/get_track.json
  tests/fixtures/get_user_charts.json
  tests/fixtures/search.json
Due: check-ast, check-json

docs: update CLAUDE.md for post-fragment-refactoring state
  CLAUDE.md
Due: none

feat: add livestream (radio) support
  CLAUDE.md
  deezer_python_gql/generated/__init__.py
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/fragments.py
  deezer_python_gql/generated/get_livestream.py
  deezer_python_gql/generated/search.py
  queries/fragments.graphql
  queries/get_livestream.graphql
  queries/search.graphql
  tests/fixtures/get_livestream.json
  tests/fixtures/search.json
  tests/test_client.py
Due: ruff-format, ruff-check, check-ast, check-json, mypy

feat: add podcast support
  deezer_python_gql/generated/__init__.py
  deezer_python_gql/generated/add_podcast_to_favorite.py
  deezer_python_gql/generated/bookmark_podcast_episode.py
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/enums.py
  deezer_python_gql/generated/fragments.py
  deezer_python_gql/generated/get_favorite_podcasts.py
  deezer_python_gql/generated/get_podcast.py
  deezer_python_gql/generated/get_podcast_episode.py
  deezer_python_gql/generated/get_podcast_episode_bookmarks.py
  deezer_python_gql/generated/mark_as_not_played_podcast_episode.py
  deezer_python_gql/generated/mark_as_played_podcast_episode.py
  deezer_python_gql/generated/remove_podcast_from_favorite.py
  deezer_python_gql/generated/search.py
  deezer_python_gql/generated/unbookmark_podcast_episode.py
  queries/favorites.graphql
  queries/fragments.graphql
  queries/get_favorite_podcasts.graphql
  queries/get_podcast.graphql
  queries/get_podcast_episode.graphql
  queries/get_podcast_episode_bookmarks.graphql
  queries/search.graphql
  tests/fixtures/add_podcast_to_favorite.json
  tests/fixtures/bookmark_podcast_episode.json
  tests/fixtures/get_favorite_podcasts.json
  tests/fixtures/get_podcast.json
  tests/fixtures/get_podcast_episode.json
  tests/fixtures/get_podcast_episode_bookmarks.json
  tests/fixtures/mark_as_not_played_podcast_episode.json
  tests/fixtures/mark_as_played_podcast_episode.json
  tests/fixtures/remove_podcast_from_favorite.json
  tests/fixtures/search.json
  tests/fixtures/unbookmark_podcast_episode.json
  tests/test_client.py
Due: ruff-format, ruff-check, check-ast, check-json, mypy

feat: add artist mix and track mix (shaker) support
  deezer_python_gql/generated/__init__.py
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/get_artist_mix.py
  deezer_python_gql/generated/get_track_mix.py
  queries/get_artist_mix.graphql
  queries/get_track_mix.graphql
  tests/fixtures/get_artist_mix.json
  tests/fixtures/get_track_mix.json
  tests/test_client.py
Due: ruff-format, ruff-check, check-ast, check-json, mypy

feat: add audiobook support
  deezer_python_gql/generated/__init__.py
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/enums.py
  deezer_python_gql/generated/fragments.py
  deezer_python_gql/generated/get_audiobook.py
  deezer_python_gql/generated/get_audiobook_chapter.py
  queries/fragments.graphql
  queries/get_audiobook.graphql
  queries/get_audiobook_chapter.graphql
  tests/fixtures/get_audiobook.json
  tests/fixtures/get_audiobook_chapter.json
  tests/test_client.py
Due: ruff-format, ruff-check, check-ast, check-json, mypy

feat: add Music Together (Shaker) support
  deezer_python_gql/generated/__init__.py
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/enums.py
  deezer_python_gql/generated/get_music_together_affinity.py
  deezer_python_gql/generated/get_music_together_group.py
  deezer_python_gql/generated/get_music_together_groups.py
  deezer_python_gql/generated/music_together_create_group.py
  deezer_python_gql/generated/music_together_generate_group_name.py
  deezer_python_gql/generated/music_together_join_group.py
  deezer_python_gql/generated/music_together_leave_group.py
  deezer_python_gql/generated/music_together_refresh_suggested_tracklist.py
  deezer_python_gql/generated/music_together_update_group_settings.py
  queries/get_music_together_affinity.graphql
  queries/get_music_together_group.graphql
  queries/get_music_together_groups.graphql
  queries/music_together.graphql
  tests/fixtures/get_music_together_affinity.json
  tests/fixtures/get_music_together_group.json
  tests/fixtures/get_music_together_groups.json
  tests/fixtures/music_together_create_group.json
  tests/fixtures/music_together_generate_group_name.json
  tests/fixtures/music_together_join_group.json
  tests/fixtures/music_together_leave_group.json
  tests/test_client.py
Due: ruff-format, ruff-check, check-ast, check-json, mypy

feat: add audiobook favorite mutations and query
  deezer_python_gql/generated/__init__.py
  deezer_python_gql/generated/add_audiobook_to_favorite.py
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/get_favorite_audiobooks.py
  deezer_python_gql/generated/remove_audiobook_from_favorite.py
  queries/favorites.graphql
  queries/get_favorite_audiobooks.graphql
  tests/fixtures/add_audiobook_to_favorite.json
  tests/fixtures/get_favorite_audiobooks.json
  tests/fixtures/remove_audiobook_from_favorite.json
  tests/test_client.py
Due: ruff-format, ruff-check, check-ast, check-json, mypy

feat: add similar tracks query via Track.recommendedTracks
  deezer_python_gql/generated/__init__.py
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/get_similar_tracks.py
  queries/get_similar_tracks.graphql
  tests/fixtures/get_similar_tracks.json
  tests/test_client.py
Due: ruff-format, ruff-check, check-ast, check-json, mypy

feat: add batched flow query using aliases for 4x tracks in one request
  deezer_python_gql/generated/__init__.py
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/get_flow_batch.py
  queries/get_flow_batch.graphql
  tests/fixtures/get_flow_batch.json
  tests/test_client.py
Due: ruff-format, ruff-check, check-ast, check-json, mypy

docs: update CLAUDE.md and README.md for all new features
  CLAUDE.md
  README.md
Due: none

style: reformat GraphQL queries, JSON fixtures, and docs
  CLAUDE.md
  README.md
  queries/get_music_together_affinity.graphql
  queries/get_podcast.graphql
  queries/music_together.graphql
  tests/fixtures/get_flow_batch.json
Due: check-json

feat: add check_audiobook_ids, podcast batch episodes, and music together group query
  CLAUDE.md
  README.md
  deezer_python_gql/base_client.py
  deezer_python_gql/generated/__init__.py
  deezer_python_gql/generated/base_client.py
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/get_music_together_group.py
  deezer_python_gql/generated/get_podcast.py
  deezer_python_gql/generated/get_podcast_episodes_by_ids.py
  queries/get_music_together_group.graphql
  queries/get_podcast.graphql
  queries/get_podcast_episodes_by_ids.graphql
  tests/fixtures/get_music_together_group.json
  tests/fixtures/get_podcast.json
  tests/fixtures/get_podcast_episodes_by_ids.json
  tests/test_client.py
Due: ruff-format, ruff-check, check-ast, check-json, mypy

feat: self-managed httpx connection pool in DeezerBaseClient
  deezer_python_gql/base_client.py
  tests/test_client.py
Due: ruff-format, ruff-check, check-ast, mypy

docs: update CLAUDE.md for self-managed connection pool
  CLAUDE.md
Due: none

fix: include generated subpackage in wheel
  pyproject.toml
Due: check-toml

refactor: use setuptools auto-discovery for packages
  pyproject.toml
Due: check-toml

fix: regenerate base_client to include close() and connection pool management
  deezer_python_gql/generated/base_client.py
Due: check-ast

feat: add pagination variables to album, playlist, and artist queries
  deezer_python_gql/generated/client.py
  queries/get_album.graphql
  queries/get_artist.graphql
  queries/get_playlist.graphql
  uv.lock
Due: check-ast

feat: update schema, add SmartTracklist to recently played, add personal tracks query
  deezer_python_gql/generated/__init__.py
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/get_music_together_affinity.py
  deezer_python_gql/generated/get_music_together_group.py
  deezer_python_gql/generated/get_personal_tracks.py
  deezer_python_gql/generated/get_recently_played.py
  deezer_python_gql/generated/input_types.py
  deezer_python_gql/generated/mark_as_not_played_podcast_episode.py
  deezer_python_gql/generated/mark_as_played_podcast_episode.py
  deezer_python_gql/generated/music_together_generate_group_name.py
  deezer_python_gql/generated/remove_audiobook_from_favorite.py
  deezer_python_gql/generated/remove_playlist_from_favorite.py
  deezer_python_gql/generated/remove_podcast_from_favorite.py
  queries/get_album.graphql
  queries/get_artist.graphql
  queries/get_personal_tracks.graphql
  queries/get_playlist.graphql
  queries/get_recently_played.graphql
  schema.graphql
  schema.json
  tests/fixtures/get_personal_tracks.json
  tests/fixtures/get_recently_played.json
  tests/test_client.py
Due: ruff-format, ruff-check, check-ast, check-json, mypy

docs: add get_personal_tracks to README
  README.md
Due: none

feat: add pagination parameters to flow configs and smart tracklist queries
  deezer_python_gql/generated/client.py
  queries/get_flow_configs.graphql
  queries/get_smart_tracklist.graphql
  uv.lock
Due: check-ast

feat: slim search query and add pagination params
  deezer_python_gql/generated/__init__.py
  deezer_python_gql/generated/client.py
  deezer_python_gql/generated/search.py
  queries/get_flow_configs.graphql
  queries/get_smart_tracklist.graphql
  queries/search.graphql
Due: check-ast

feat: enrich GraphQL error logs with operation name, variables, and path
  deezer_python_gql/base_client.py
Due: ruff-format, ruff-check, check-ast, mypy

Path conditions:
  ruff-format: any of: \.py$, but not: ^deezer_python_gql/generated/
  ruff-check: any of: \.py$, but not: ^deezer_python_gql/generated/
  check-ast: any of: \.py$
  check-json: any of: \.json$, but not: ^schema\.json$
  check-toml: any of: \.toml$
  mypy: any of: \.py$, but not: ^deezer_python_gql/generated/
